body{
    background-color: black !important;
}
.ll{
    padding-top: 15px;
    height: 30px;
    width: 150px;
  
}
.navbar{
    background-color: black;
    position: relative;
    height: 70px;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header{

    margin: auto;
    padding: auto;
}

main{
    width: 70%;
    padding: auto;
    margin:auto;
}
#film1 img, #film2 img, #film3 img {
    max-height: 200px; /* Możesz dostosować wysokość według własnych preferencji */
}
p {
    color: red;
    font-size: large;
}
